# Preeeliminar Exploratory Data Analisys

## Import Data set

In [11]:
import pandas as pd
from ucimlrepo import fetch_ucirepo
import os

In [14]:
# fetch heart disease dataset
heart_disease = fetch_ucirepo(id=45)
df_original = heart_disease.data.original

In [16]:
# Export database to data/raw folder
df_original.to_csv('../data/raw/raw_medical_records.csv')

# Preview data set

In [19]:
raw_patients = pd.read_csv('../data/raw/raw_medical_records.csv')

In [20]:
raw_patients.head()

,Unnamed: 0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,0,63,1,1,145,233,1,2,150,0,2.3,3,0.0,6.0,0
1,1,67,1,4,160,286,0,2,108,1,1.5,2,3.0,3.0,2
2,2,67,1,4,120,229,0,2,129,1,2.6,2,2.0,7.0,1
3,3,37,1,3,130,250,0,0,187,0,3.5,3,0.0,3.0,0
4,4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,3.0,0

In [21]:
import helpers.basic_eda as b_eda

In [23]:
b_eda.eda(raw_patients, 'raw_patients')

==========
.:STARTING EDA:.
==========
DATA SET: raw_patients
   Unnamed: 0  age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  \
0           0   63    1   1       145   233    1        2      150      0
1           1   67    1   4       160   286    0        2      108      1
2           2   67    1   4       120   229    0        2      129      1
3           3   37    1   3       130   250    0        0      187      0
4           4   41    0   2       130   204    0        2      172      0

   oldpeak  slope   ca  thal  num
0      2.3      3  0.0   6.0    0
1      1.5      2  3.0   3.0    2
2      2.6      2  2.0   7.0    1
3      3.5      3  0.0   3.0    0
4      1.4      1  0.0   3.0    0