# Preeeliminar Exploratory Data Analisys

## Import Data set

In [2]:
import pandas as pd
from ucimlrepo import fetch_ucirepo
import os

In [4]:
# fetch heart disease dataset
heart_disease = fetch_ucirepo(id=45)
# This gets the original dataset, including the target column.
df_original = heart_disease.data.original

# Comprendiendo la naturalieza de los datos.
Tomando en cuenta que dentro del propio dataset se obtiene una descripción a detalle de cada una de las columnas se imprime dicha descripción para comprender de mejor manera los datos para un posterior proceso de EDA y Data Wrambling

In [25]:
heart_disease.variables

,name,role,type,demographic,description,units,missing_values
0,age,Feature,Integer,Age,None,years,no
1,sex,Feature,Categorical,Sex,None,None,no
2,cp,Feature,Categorical,None,None,None,no
3,trestbps,Feature,Integer,None,resting blood pressure (on admission to the ho...,mm Hg,no
4,chol,Feature,Integer,None,serum cholestoral,mg/dl,no
5,fbs,Feature,Categorical,None,fasting blood sugar > 120 mg/dl,None,no
6,restecg,Feature,Categorical,None,None,None,no
7,thalach,Feature,Integer,None,maximum heart rate achieved,None,no
8,exang,Feature,Categorical,None,exercise induced angina,None,no
9,oldpeak,Feature,Integer,None,ST depression induced by exercise relative to ...,None,no
10,slope,Feature,Categorical,None,None,None,no
11,ca,Feature,Integer,None,number of major vessels (0-3) colored by flour...,None,yes
12,thal,Feature,Categorical,None,None,None,yes
13,num,Target,Integer,None,diagnosis of heart disease,None,no

# Separated variables names description.
1. Age: Patients age
2. Sex: Gender classification (male ore female)
3. trestpbs: Resting blood pressure detected upon arrival
4.

In [5]:
# Export database to data/raw folder
df_original.to_csv('../data/raw/raw_medical_records.csv', index=False)

# Preview data set

In [6]:
raw_patients = pd.read_csv('../data/raw/raw_medical_records.csv')

In [7]:
raw_patients.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63,1,1,145,233,1,2,150,0,2.3,3,0.0,6.0,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3.0,3.0,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2.0,7.0,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0.0,3.0,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,3.0,0

In [9]:
import helpers.basic_eda as b_eda

In [11]:
b_eda.eda(raw_patients, 'raw_patients')

==========
.:STARTING EDA:.
==========
DATA SET: raw_patients
   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  \
0   63    1   1       145   233    1        2      150      0      2.3      3
1   67    1   4       160   286    0        2      108      1      1.5      2
2   67    1   4       120   229    0        2      129      1      2.6      2
3   37    1   3       130   250    0        0      187      0      3.5      3
4   41    0   2       130   204    0        2      172      0      1.4      1

    ca  thal  num
0  0.0   6.0    0
1  3.0   3.0    2
2  2.0   7.0    1
3  0.0   3.0    0
4  0.0   3.0    0
 1. Data set dimensions:  (303, 14)
Información general
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        299 non-null    float64
 12  thal      301 non-null    float64
 13  num       303 non-null    int64
dtypes: float64(3), int64(11)
memory usage: 33.3 KB
None
Número de duplicados generales: 0
Valores faltantes por cada columna
age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          4
thal        2
num         0
dtype: int64